#round-nav {
    align-content: stretch;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: stretch;
}

.round-selector {
    background-color: #98d4cd;
    border-radius: 12px 12px 0px  0px ;
    border: 1px solid black;
    color: black;
    flex-grow: .1;
    padding: 4px 32px;
    text-decoration: none;
    width: 30px;
}

.add-round-button {
    background-color: #efa890;
    box-sizing: unset;
    flex-grow: 0;
    height: unset;
    margin: unset;
    padding: 4px 4px;
}

.all-rounds-tab {
    background-color: #efa890;
}

.round-selector.active{
    background-color: #c23331;
}