/* Section rules and colors defined*/
#sale-view {
    --table-header-color: #BA9ACA;
    --table-nth-row-color: #E8D5D5;
    --table-2nth-row-color: #D1B7D0;
    background-color: var(--table-2nth-row-color);
}

#round-view {
    --table-header-color: #98d4cd;
    --table-nth-row-color: #DDE8D6;
    --table-2nth-row-color: #BADED2;
    background-color: var(--table-2nth-row-color);
}

#totals-view {
    --table-header-color: #95A850;
    --table-2nth-row-color: #B8C37E;
    --table-nth-row-color: #DCDDAD;
    background-color: var(--table-2nth-row-color);
    position: sticky;
    top: -51px;
    left: 0;
    z-index: 10;
}

/* ... */
/* higher level rules for tables and it's container */

.table-container {
    border-radius: 16px 16px 0px 0px;
}

.table-container>*:first-child {
    margin-bottom: 8px;
    margin-top: 16px;
    padding-top: 16px;
}

.table {
    background-color: black;
    border: 1px solid black;
    display: grid;
    gap: 1px;
}

/* ... */
/* table-specific formatting */

#rounds-table {
    grid-template-columns: auto 1.5fr 1.5fr 2fr 1fr;
    max-width: 1200px;
}

#sales-table {
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 32px;
    max-width: 1200px;
}

#totals-table {
    bottom: 0;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    position: sticky;
    z-index: 10;
}

/* colors are overwritten for totals due to column display instead of row display */
#totals-table > .table-row > *:nth-child(2n + 1) {
    background-color: var(--table-header-color);
    font-weight: 500;
}

#totals-table > .table-row > *:nth-child(2n) {
    background-color: var(--table-nth-row-color);
}

/* ... */

.table-row {
    display: contents;
}

.table-row * {
    /* relative necessary for :hover popup */
    position: relative;
}

.table>.table-row input {
    background-color: #fff8db;
}

.round-field>*:first-child {
    display: none;
}

.table-row:nth-child(2n) * {
    background-color: var(--table-nth-row-color);
}

.table-row:nth-child(2n+1) * {
    background-color: var(--table-2nth-row-color);
}

.table-row.header *{
    background-color: var(--table-header-color);
    font-weight: 600;
}

.header .table-subgroup > *{
    /* makes labels as narrow as possible */
    padding: 0px 4px;
    width: min-content;
}

.table-subgroup {
    align-items: center;
    align-self: stretch;
    display: grid;
    justify-items: center;
    justify-self: stretch;
    margin: 0px;
    padding: 2px 0px;
}

.player-name-field {
    align-items: center;
    display: flex;
    font-weight: 600;
    padding: 0px 16px;
}

/* ... */
/* Rules for popup on hover detail section */

.table-row .details {
    border: 1px solid black;
    display: none;
    left: 0;
    margin: 0px auto;
    position: absolute;
    right: 0;
    width: fit-content;
}

.table-row:hover .details {
    display: block;
    z-index: 2;
}

.table-row .details * {
    padding: 0px 12px;
}

.table-row .details>*:nth-child(2n) {
    background-color: var(--table-2nth-row-color);
}

.table-row .details>*:nth-child(2n + 1) {
    background-color: var(--table-nth-row-color);
}

.table-row .details label {
    align-items: center;
    background-color: unset;
    display: flex;
    height: fit-content;
    margin: 0;
    padding: auto;
}

.table-row .details input {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    height: fit-content;
}

@media screen and (max-width: 970px) {
    #rounds-table, #sales-table, #totals-table {
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        justify-content: stretch;
        justify-items: stretch;
    }

    .table-row.header {
        display: none;
    }

    .table-row {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    #sales-table>.table-row>* {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .round-field>*:first-child {
        display: inline;
        font-weight: 600;
        width: min-content;
    }

    .table-row .single-row-label {
        width: fit-content;
    }

    .table-subgroup {
        align-items: flex-end;
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        justify-content: space-evenly;
    }

    .table-subgroup > * {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .round-field {
        display: flex;
        flex-direction: column;
    }

    /* ... */
    /* color changes for format change */

    .table-row:nth-child(n) * {
        background-color: var(--table-nth-row-color);
    }

    .table-subgroup:nth-child(2n + 1), .table-subgroup:nth-child(2n + 1) *{
        background-color: var(--table-2nth-row-color);
    }

    .table-row .player-name-field {
        background-color: var(--table-header-color);
        display: flex;
        font-weight: 700;
        justify-content: center;
    }
}