#about {
    gap: 28px;
    margin: 8px auto 64px;
    max-width: 650px;
}

#about h3 {
    margin: 0;
}

#about ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#about p{
    text-align: justify;
}

#about a{
    font-weight: 600;
    color: unset;
}

#about a:visited{
    color: rgb(78, 78, 78);
}

#about a:link{
    color: black;
}


#about a:hover{
    color: rgb(46, 46, 46);
}