#site-header {
    --logo-height: calc(var(--logo-width) / 1.54);
    --logo-width: 20vw;
    font-size: 2.5vw;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: var(--logo-width) 4fr;
    height: var(--logo-height);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'logo .'
        'logo header'
        'logo . ';
    --site-header-color: #98d3d1;
    align-items: center;
    align-content: center;
    margin: 16px;
}

.App-logo {
    /* position: absolute; */
    /* left: -50px; */
    /* top: -12px; */
    height: 100%;
    width: 100%;
    grid-area: logo;
    z-index: 1;
    transform: translate(0px, 10px);
    /* transform: translateX(50%); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../public/food-chain-logo-no-text.png');
}

.logo-bar {
    grid-area: header;
    height: 100%;
    width: 100%;
    background-color: var(--site-header-color);
    transform: translateX(calc(-1 * var(--logo-width)));
    z-index: -1;
    border-radius: 12px;
}

#site-title {
    /* height: min-content;
    padding: 0px 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    grid-area: header;
    background-color: var(--site-header-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
}

#site-header h1 {
    font-size: 1em;
    color: #bc3330;
    font-family: 'Anja-Eliane-accent-Nornal', 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
                .5px .5px #fff, -.5px -.5px #fff, .5px -.5px #fff, -.5px .5px #fff,
                3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
                2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
    letter-spacing: 6px;
    border-radius: 12px;
    z-index: 0;
    padding: 8px 8px 8px 12px;
}


@media screen and (min-width: 1200px) {
    /* controls max logo and font-size for header */
    #site-header {
        --logo-width: 240px;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    /* controls minimum sizes */
    #site-header {
        display: flex;
        justify-content: center;
        height: fit-content;
        font-size: 15px;
    }

    .App-logo {
        display: none;
    }
    
    .logo-bar{
        display: none;
    }
}