#add-sale-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0px 0px 8px;
}

#add-sale-form > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

#add-sale-form>* {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}