#reserve-modal .table-container {
    --table-header-color: #c23331;
    --table-nth-row-color: #EBB6A2;
    --table-2nth-row-color: #D6756A;
    background-color: var(--table-header-color);
    margin: 0px 8px;
    padding: 32px 0px 0px 0px;
    max-width: 800px;
}

#reserve-modal .table-container>*:nth-child(2n) {
    background-color: var(--table-nth-row-color);
}

#reserve-modal .table-container>*:nth-child(2n + 1) {
    background-color: var(--table-2nth-row-color);
}

#reserve-modal .table-container>*:first-child {
    background-color: var(--table-header-color);
}

#reserve-modal>.table-container>* {
    margin: 0px;
    padding: 8px 18px;
}

#reserve-modal form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}