#round-nav {
    display: flex;
}

.round-selector {
    border: 1px solid black;
    color: black;
    padding: 4px 32px;
    background-color: #98d4cd;
    text-decoration: none;
}

.add-round-button {
    background-color: #ba9aca;
}

.all-rounds-tab {
    background-color: #efa890;
}

.round-selector.active{
    background-color: #c23331;
}

#rounds-table {
    display: flex;
    flex-direction: column;
}

.round-row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    align-items: center;
}

.round-subgroup {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    align-self: stretch;
    justify-self: stretch;
    margin: 0px;
    padding: 0px;
    /* justify-content: flex-end; */
    /* grid-template-columns: repeat(5, 1fr); */
}