#round-nav {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: stretch;
    justify-content: center;
}

.round-selector {
    border: 1px solid black;
    color: black;
    padding: 4px 32px;
    background-color: #98d4cd;
    text-decoration: none;
}

.add-round-button {
    background-color: #ba9aca;
}

.all-rounds-tab {
    background-color: #efa890;
}

.round-selector.active{
    background-color: #c23331;
}

#rounds-table {
    display: grid;
    max-width: 1200px;
    grid-template-columns: auto 1.5fr 1.5fr 2fr 1fr;
    border: 1px solid black;
}

.table-row{
    display: contents;
}

.table-row:nth-child(2n) * {
    background-color: #efa890;
}

/* .table-row:nth-child(2n+1) * {
    background-color: #ffded4;
} */

.table-row.header > .round-subgroup{
    border-bottom: 1px solid black;
}

.round-subgroup {
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: stretch;
    justify-self: stretch;
    margin: 0px;
    padding: 2px 0px;
}