#round-nav {
    display: flex;
}

.round-selector {
    border: 1px solid black;
    color: black;
    padding: 4px 32px;
    background-color: #98d4cd;
    text-decoration: none;
}

.add-round-button {
    background-color: #ba9aca;
}

.all-rounds-tab {
    background-color: #efa890;
}

.round-selector.active{
    background-color: #c23331;
}

#rounds-table {
    display: grid;
    max-width: 1500px;
}


.round-subgroup {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    align-self: stretch;
    justify-self: stretch;
    margin: 0px;
    padding: 0px;
}