@font-face {
  font-family: 'Bazooka-Regular';
  src:url('./fonts/Bazooka-Regular.ttf.woff') format('woff'),
      url('./fonts/Bazooka-Regular.ttf.svg#Bazooka-Regular') format('svg'),
      url('./fonts/Bazooka-Regular.ttf.eot'),
      url('./fonts/Bazooka-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: #fff8db;
}

body > * {
  margin: 0px auto;
  max-width: 1200px;
}

body > * > *{
  margin: 0px 16px;
}

input, select, button {
  background-color: #fff8db;
  text-align: center;
  border: 1px solid black;
  width: 48px;
  margin: 3px;
  height: 21px;
  box-sizing: border-box;
}

input[type='number'] {
  margin-bottom: 3px;
}

input[type=checkbox] {
  width: auto;
}

h1, h2, h3 {
  font-family: 'Pacifico-Regular', 'Bazooka-Regular', 'Impact';
  font-weight: 500;
}

h3 {
  font-family: 'Pacifico', 'cursive';
  font-size: 16px;
  margin: 4px 0px;
}

button, input[type=submit] {
  box-sizing: border-box;
  width: fit-content;
  padding: 0px 12px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 3px;
}

select {
  width: fit-content;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  visibility: hidden;
}

html {
  width: 100%;
  overflow-y: scroll;
}
