/* @import "Reset.css"; */
@import "CardFormat.css";

@font-face {
  font-family: 'Bazooka-Regular';
  src:url('./fonts/Bazooka-Regular.ttf.woff') format('woff'),
      url('./fonts/Bazooka-Regular.ttf.svg#Bazooka-Regular') format('svg'),
      url('./fonts/Bazooka-Regular.ttf.eot'),
      url('./fonts/Bazooka-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anja-Eliane-accent-Nornal';
  src:url('./fonts/Anja-Eliane-accent-Nornal.ttf.woff') format('woff'),
      url('./fonts/Anja-Eliane-accent-Nornal.ttf.svg#Anja-Eliane-accent-Nornal') format('svg'),
      url('./fonts/Anja-Eliane-accent-Nornal.ttf.eot'),
      url('./fonts/Anja-Eliane-accent-Nornal.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
  --background-color: #fff8db;
  --red-card: #c23331;
  --purple-card: #BA9ACA;
  --green-card: #95A850;
  --blue-card: #98d4cd;
  --gray-card: #bfb5b3;
}

html {
  width: 100%;
  overflow-y: scroll;
}

body {
  background-color: var(--background-color);
}

body > * {
  margin: 0px auto;
  max-width: 1200px;
}

.App{
  margin: 0px 16px;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Bazooka-Regular', 'Impact';
  font-weight: 500;
  margin: 0;
}

h3 {
  font-family: 'Pacifico', "Brush Script MT";
  font-size: 16px;
  margin: 4px 0px;
}

input, select, button {
  text-align: center;
  background-color: var(--background-color);
  border: none;
  width: fit-content;
  margin: 3px;
  height: 25px;
  box-sizing: border-box;
  padding: 0px 8px;
}

input[type='number'] {
  width: 48px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
  appearance: textfield;
}

input[type="checkbox"] {
  font-weight: 100;
  width: 16px;
}

input[type="checkbox"]:checked {
  accent-color: var(--table-header-color);
}

button, input[type=submit] {
  border-radius: 8px;
  font-family: 'Pacifico', "Brush Script MT", 'cursive';
  background-color: var(--background-color);
}

select {
  width: fit-content;
  text-align: left;
}

select>option:nth-child(2n) {
  /* background: rgba(0,0,0,1); */
  background-color: var(--table-nth-row-color);
}

select>option:nth-child(2n+1) {
  /* background: rgba(0,0,0,1); */
  background-color: var(--table-2nth-row-color);
}

select option:checked {
  background-color: var(--table-header-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
}

.hidden {
  visibility: hidden;
}