.card-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    justify-content: center;
    min-height: 312px;
}

.card-format, .card-options {
    --card-color: #BA9ACA;
    --card-text-color: black;
    --radius: 12px;
    aspect-ratio: 56/87;
    border-radius: var(--radius);
    box-shadow: 2px 1px 5px black, 1px 4px 6px black;
    display: grid;
    grid-template-areas: 'top' 'bottom';
    grid-template-rows: 59fr 41fr;
    margin: 8px 5px;
    text-decoration: none;
    transition: width .5s, margin .5s;
    width: 190px;
}

.card-format:hover {
    margin: 0;
    width: 200px;
}

#view-players .card-format:hover, #load-games .card-format:hover {
    cursor: pointer;
}

.card-top {
    align-items: center;
    background-color: var(--card-color);
    border-radius: var(--radius) var(--radius) 0px 0px;
    color: var(--card-text-color);
    display: flex;
    flex-flow: column nowrap;
    grid-area: 'top';
}

.card-bottom{
    background-color: var(--background-color);
    border-radius: 0px 0px var(--radius) var(--radius);
    color: black;
    grid-area: 'bottom';
}

.card-format>* {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-format h2 {
    transform: rotate(-10deg);
    width: min-content;
}

.card-format select {
    height: 90%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: wrap;
    width: 90%;
}

.card-format select:hover {
    cursor: pointer;
}

#create-player {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#create-player .card-format {
    margin: 8px;
    width: 200px;
}

#create-player input {
    background-color: #E8D5D5;
    border-radius: 4px;
    margin: 16px 0px;
}

.card-list>li {
    position: relative;
}

.card-options {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    z-index: 1;
}