#add-sale-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 0px 0px 8px;
}

#add-sale-form > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
}

#add-sale-form > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#add-sale-form > label{
    font-weight: 600;
}