/* #sale-view>h2{
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
} */

#sale-view h3 {
    margin: unset;
}

#sale-view button {
    background-color: var(--background-color);
    transition: background-color .25s;
}

#sale-view button:hover {
    background-color: var(--table-header-color);
}